.container {
    padding: $space-8;
    border-radius: $space-4;
    box-shadow: $shadow-100;
    grid-column: span 6;
}

.vector {
    max-width: 329px;
    width: 0%;
    overflow: hidden;
    transition: width 1s ease;
    transition-delay: 0.5s;

    &.active {
        width: 100%;
    }
}