.counterContainer {
  overflow: hidden;
  position: relative;
}

.digitsList {
  display: flex;
  flex-direction: column;
  transition: transform 1s ease-in-out;
}

.digit {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 1em;
  line-height: 1em;
  user-select: none;
}
